<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shopcenter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Seller_approval"></activity>
        <activity android:name=".SellerViewProductActivity" />
        <activity android:name=".SellerAddProductActivity" />
        <activity android:name=".SellerHomeActivity" />
        <activity android:name=".HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Admin_view_customer_orders" />
        <activity android:name=".Admin_view_customer" />
        <activity android:name=".Admin_edit_categories" />
        <activity android:name=".SellerRegisterActivity" />
        <activity android:name=".Admin_notification_Activity" />
        <activity android:name=".User_cart_Activity" />
        <activity android:name=".User_payment_Activity" />
        <activity android:name=".User_search_products" />
        <activity android:name=".Admin_add_new_category" />
        <activity android:name=".User_conform_order" />
        <activity
            android:name=".AdminHomeActivity"
            android:label="@string/title_activity_admin_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ProductDetailActivity" />
        <activity android:name=".User_settings_Activity" />
        <activity
            android:name=".AppHomeActivity"
            android:label="@string/shop_cen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Admin_edit_products" />
        <activity android:name=".Admin_add_products" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>